<section class="first d-flex justify-content-center p-5">
    <div class="col-4 align-self-center">
        <h1 id="title-home" class="home pb-2">Everything you are.<br> In one simple link.</h1>
        <p class="home">Join 25M+ people and share everything you create, curate and sell online. All from the one link in bio.</p>
    </div>
    <div class="col-6">
        <%= image_tag("home.png", class: "img-fluid") %>
    </div>
</section>

<section class="second d-flex justify-content-center flex-row-reverse p-5">
    <div class="col-4 align-self-center">
        <h2 id="title-home" class="home pb-2">Create and customize your bio link in minutes</h2>
        <p class="home">Connect your socials, website, store, videos, music, podcast, events and more. It all comes together in a link in bio landing page designed to convert.</p>
    </div>
    <div class="col-6">
        <%= image_tag("home.png", class: "img-fluid") %>
    </div>
</section>