<div class="container-fuild bg-success">
    <div class="first block row d-flex justify-content-center">
        <div class="col-4 align-self-center">
            <h1 id="title-home" class="home pb-2">Everything you are.<br> In one simple link.</h1>
            <p class="home">Join 25M+ people and share everything you create, curate and sell online. <br> All from the one link in bio.</p>
        </div>
        <div class="col-6">
            <%= image_tag("home.png", class: "img-fluid") %>
        </div>
    </div>
</div>

<div class="container-fuild bg-danger">
    <div class="first block row d-flex justify-content-center">
        <div class="col-4 align-self-center">
            <h1 id="title-home" class="home pb-2">Everything you are.<br> In one simple link.</h1>
            <p class="home">Join 25M+ people and share everything you create, curate and sell online. <br> All from the one link in bio.</p>
        </div>
        <div class="col-6">
            <%= image_tag("home.png", class: "img-fluid") %>
        </div>
    </div>
</div>